@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-image: url('/img/background.png');
    background-size: contain;
    background-repeat: repeat;
    min-height: 100vh;
}

.header-doctor {
    background-image: url('/img/samples/header-dashboard-doctor.jpg');
    background-size: cover;
    background-position: center;
}
